<div class="vehicle-section">
    <h3></h3>
    <dx-data-grid
      [dataSource]="vehicles"
      [showBorders]="true">
      
      <dxi-column dataField="aracId" caption="Araç ID"></dxi-column>
      <dxi-column dataField="aracPlaka" caption="Plaka"></dxi-column>
      <dxi-column dataField="hiz" caption="Hız"></dxi-column>
      <dxi-column dataField="kmSayaci" caption="Km Sayacı"></dxi-column>
      <dxi-column dataField="veriTarihi" caption="Tarih"></dxi-column>
    </dx-data-grid>
  </div>