<div class="parent">
        <!DOCTYPE html>
    <html>
    <head>
        <title>Slide Navbar</title>
       <!--<link rel="stylesheet" type="text/css" href="slide-navbar-style.css">--> 
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="main">  	
            <input type="checkbox" id="chk" aria-hidden="true">

                <div class="signup">
                    <form (ngSubmit)="handleSignUp()" #signupForm="ngForm">
                
                    <label for="chk" aria-hidden="true">Sign up</label>
                
                    <input type="text" name="username" placeholder="Username" [(ngModel)]="signupUser.username" required>
                    <input type="email" name="email" placeholder="Email" [(ngModel)]="signupUser.email" required>
                    <input type="password" name="password" placeholder="Password" [(ngModel)]="signupUser.password" required>

                    <div *ngIf="signUpErrorMessage" class="error-message">
                      {{ signUpErrorMessage }}
                    </div>
                    <div *ngIf="signUpSuccessMessage" class="success-message">
                      {{ signUpSuccessMessage }}
                    </div>
                
                    <button type="submit" [disabled]="!signupForm.form.valid">Sign up</button>
                    </form>
                </div>
              

                <div class="login">
                    <form (ngSubmit)="handleLogin()" #loginForm="ngForm">
                        <label for="chk" aria-hidden="true">Login</label>
                      
                        <input
                          type="email"
                          name="email"
                          placeholder="Email"
                          [(ngModel)]="loginUser.email"
                          required
                        />
                      
                        <input
                          type="password"
                          name="password"
                          placeholder="Password"
                          [(ngModel)]="loginUser.password"
                          required
                        />

                        <div *ngIf="loginErrorMessage" class="error-message">
                            {{ loginErrorMessage }}
                          </div>
                        <div *ngIf="loginSuccessMessage" class="success-message">
                            {{ loginSuccessMessage }}
                          </div>
                          
                      
                        <button type="submit">Login</button>
                      </form>
                      
                </div>
        </div>
    </body>
    </html>

</div>
